body {
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  background-color: rgb(241, 249, 255);
  border-radius: 10px;
  width: 50vw;
  padding: 30px;
}

#text {
  text-align: center;
  min-height: 50%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#author {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  text-align: end;
  font-weight: 400;
}

#abcd {
  position: relative;
  display: flex;
  flex-direction: row;
}

#new-quote {
  position: absolute;
  right: 0;
}

#new-quote > button {
  border: 0;
  height: 45px;
  border-radius: 4px;
}

#tweet-quote {
  width: 45px;
  left: 10;
  border-radius: 4px;
}

#img{
  width: 100%;
  align-content: flex-end;
  filter: brightness(0) invert(1);
}